<section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">
            <!-- Job Item -->
            <% data.main_sections.experience.jobs.each do |job| %>
                <div class="item">
                    <!-- Job Position -->
                    <h3 class="title">
                        <%= job.position %> -
                            <!-- Where -->
                            
                            <span class="place">
                                <% if job.link %>
                                    <a href="<%= job.link %>">
                                <% end %> 
                                <%= job.at %></a>
                            </span>

                            <!-- Time range -->
                            <span class="year">(<%= job.time_range %>)</span>
                    </h3>
                    <div>
                        <%= job.short_description %>
                            <% job.labels.each do |label_text| %>
                                <!-- Disabled -->
                                <% render_label label_text %>
                            <% end %>
                        <div class="content hideContent">
                            <p><br><%= job.full_description %></p>
                        </div>
                        <div class="show-more">
                            <a class="more-link">Expand ▼</a>
                        </div>
                    </div>

                </div>
                <% end %>
                    <!-- Job Item End -->
        </div>
    </div>
</section>


<%#   %>