<section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">
            <!-- Job Item -->
            <% data.main_sections.experience.jobs.each do |job| %>
                <div class="item">
                    <!-- Job Position -->
                    <h3 class="title">
                        <%= job.position %> -
                            <!-- Where -->
                            <span class="place"><a href="#"><%= job.at %></a></span>

                            <!-- Time range -->
                            <span class="year">(<%= job.time_range %>)</span>
                    </h3>
                    <div>
                        <%= job.short_description %>
                        <div class="content hideContent">
                            <p><%= job.full_description %></p>
                        </div>
                        <div class="show-more">
                            <a class="more-link">Show more</a>
                        </div>
                    </div>

                </div>
                <% end %>
                    <!-- Job Item End -->
        </div>
    </div>
</section>


<%#   %>