<% index_path = '/index.html' %>
<% recent_projects_page_path = '/recent_projects.html' %>
<% projects_archive_page_path = '/projects_archive.html' %>

<header class="header">
    <div class="container">
        <!-- Profile Picture -->
        <a  href="<%= index_path %>">
            <img data-toggle="tooltip" 
                data-placement="auto bottom"
                 data-animation="true" 
                 title="Back to the Homepage" 
                 class="profile-image img-responsive pull-left level-label" 
                 src="<%= data.header.profile_image_path %>" 
                 alt="<%= data.header.full_name %>'s profile picture" />
        </a>
        
        <div class="profile-content pull-left">
            <!-- My name and short description -->
            <h1 class="name">
                <%= data.header.full_name %>
            </h1>
            <h2 class="desc">
                <% data.header.short_description.each do |desc| %>
                    <div style="display: inline-block;white-space: nowrap;">
                        <%= desc %>
                    </div>
                <% end %>
            </h2>

            <!-- Links to socials -->
            <!-- TODO Move circle button styles to application.css -->
            <ul class="social list-inline">
                <li><%= social_link_icon 'github', bg_color: '#24292E', fg_color: 'white', open_in_new_tab: true %></li>
                <li><%= social_link_icon 'linkedin', bg_color: '#0077B5', fg_color: 'white', open_in_new_tab: true %></li>
                <li><%= social_link_icon 'codewars', bg_color: '#EC1622', fg_color: 'white', open_in_new_tab: true %></li>
                <li><%= social_link_icon 'soundcloud', bg_color: '#ff6b00', fg_color: 'white', open_in_new_tab: true %></li>
                <li><%= social_link_icon 'youtube', bg_color: '#EC1622', fg_color: 'white', open_in_new_tab: true %></li>
                <li><a href="http://gradient.eti.pg.gda.pl/" style="background: white;padding-top: 8px"><img src="images/gradient_logo_small.png"></a></li>
            </ul>
        </div>

        <!-- Recent Projects Button -->
        <a class="btn btn-cta-primary pull-left" 
            style="margin-right: 20px;margin-left: 20px;" 
            href="<%= recent_projects_page_path %>">
          <i class="fa fa-coffee" aria-hidden="true"></i>
          Recent Projects
        </a>

        <!-- Projects Archive Button -->
        <a class="btn btn-cta-primary pull-left" 
            href="<%= projects_archive_page_path %>">
          <i class="fa fa-archive" aria-hidden="true"></i>
          Projects Archive
        </a>

        <!-- LinkedIn Contact Button -->
        <a class="btn btn-cta-primary pull-right" 
            href="<%= data.header.link_to_profile_on_linkedin %>"
            target="_blank">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Contact me on LinkedIn
        </a>

        <!-- Codewars Badge 
        <a href="<%= data.header.link_to_profile_on_codewars %>">
            <img id="codewars-badge" class="profile-image img-responsive pull-right" src="<%= data.header.link_to_codewars_badge %>" alt="Codewars badge" />
        </a>
        -->


    </div>
    <!--//container-->
</header>
