<div class="item featured text-center">
    <h3 class="title" >
        <a href="<%= project.link %>" id="<%= project.anchor %>" target="_blank">
            <!-- Project Title -->
            <%= project.project_title %>
        </a>
    </h3>
    <h3 class="title">
        <% project.labels.each do |label_text| %>
            <%= render_label label_text %>
        <% end %>
    </h3>
    <p class="summary">
        <!-- Short Description -->
        <%= project.short_description %>
    </p>

    <div class="featured-image">
        <!-- Image with link to project -->
        <% unless project.image_path %>
            <%= project.video_path %>
        <% else %>
            <a href="<%= project.link %>" target="_blank">
                <img class="img-responsive project-image" src="<%= project.image_path %>" alt="<%= project.project_title %>" />
            </a>
        <% end %>

        
        <!-- Badge in the top-right corner of image-->
        <% if project.badge %>
            <div class="ribbon">
                <div class="text">
                    <%= project.badge %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="desc text-left">
        <!-- 1 upto x Long Description Paragraphs -->
        <% project.long_description.each do |description| %>
            <% visibility = description.expandable ? "hideContent" : "showContent" %>
            <div class="content <%= visibility %>">
                <%= partial(description.html_partial_path) if description.html_partial_path %>
                <p><%= description.paragraph %></p>
            </div>

            <% if description.expandable? %>
                <div class="show-more">
                    <a class="more-link">Expand ▼</a>
                </div>
            <% end %>
        <% end %>
    </div>

    <% project.buttons.each do |button| %>
        <a class="btn btn-cta-secondary my-buttons" 
            href="<%= button.link %>"
            target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
            <p><%= button.name %></p>
        </a>
    <% end %>
</div>