<div class="item featured text-center">
    <h3 class="title">
        <a href="<%= project.link %>" target="_blank">
            <!-- Project Title -->
            <%= project.project_title %>
        </a>
    </h3>

    <p class="summary">
        <!-- Short Description -->
        <%= project.short_description %>
    </p>

    <div class="featured-image">
        <!-- Image with link to project -->
        <a href="<%= project.link %>" target="_blank">
                     <img class="img-responsive project-image" src="<%= project.image_path %>" alt="project name" />
                     </a>
        
        <!-- Badge in the top-right corner of image-->
        <% if project.badge %>
            <div class="ribbon">
                <div class="text">
                    <%= project.badge %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="desc text-left">
        <!-- 1 upto x Long Description Paragraphs -->
        <% project.long_description.each do |description| %>
            <p><%= description %></p>
        <% end %>
    </div>
    
    
    <a class="btn btn-cta-secondary" href="<%= project.link %>"
        target="_blank"><i class="fa fa-github" aria-hidden="true"></i><p><%= project.button %></p></a>
        
</div>