<div class="item row">
    

    <div class="desc col-md-12 col-sm-12 col-xs-12">
        <!-- Project Title -->
        <h3 class="title"><a href="<%= project.link %>" target="_blank"> <%= project.title %></a></h3>

        <!-- Short Description -->
        <p><%= project.short_description %></p>

        <!-- Link -->
        <p><a class="more-link" href="<%= project.link %>" target="_blank"><i class="fa fa-external-link"></i><%= project.link %></a></p>
    </div>
    <!-- Small Project Image -->
    <a class="col-md-12 col-sm-12 col-xs-12" href="<%= project.link %>" target="_blank">
        <% if project.image_path.include? 'https://asciinema.org' %>
            <%= project.image_path %>
        <% else %>
            <img class="img-responsive project-image" src="<%= project.image_path %>" alt="project name" />
        <% end%>
    </a>
</div>