<!-- Main Skills -->
<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">My toolset</h2>
        <div class="content">
            <p class="intro"><%= data.aside_sections.skills.main_intro %></p>

            <div class="skillset">
                <% data.aside_sections.skills.main.each do |skill| %>
                <div class="item">
                    <h3 class="level-title"><%= skill.name %>
                        <span class="level-label" data-toggle="tooltip" 
                        data-placement="auto left" data-animation="true" 
                        title="<%= skill&.expertise_tooltip %>">
                            <%= skill&.expertise %>
                        </span>
                    </h3>
                    <div class="level-bar">
                        <span class="level-label" data-toggle="tooltip" data-placement="auto left" data-animation="true" title="<%= skill&.tooltip%>">
                        <div class="level-bar-inner" data-level="<%= skill.value %>"></div>
                        </span>
                    </div><!--//level-bar-->
                    <p><%= skill&.description %></p>
                </div><!--//item-->
                <% end %>
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->



